.p-table th, .p-table td {
  display: flex;
  align-items: center; 
  justify-content: center; 
  min-height: 50px; 
  padding: 10px;
}

.p-table th {
  text-align: right;
}

.p-table th div, .p-table td div {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.status-active {
  color: green;
  font-weight: bold;
}

.status-active::before {
  content: '•'; 
  color: green;
  margin-right: 0.5em;
  font-weight: bold;
}

.status-inactive {
  color: gray;
  font-weight: bold;
}

.status-inactive::before {
  content: '•'; 
  color: gray;
  margin-right: 0.5em;
  font-weight: bold;
}

