<div class="surface-card p-4 shadow-2 border-round m-2">
  <h2>用戶列表</h2>
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <div class="flex align-items-center">
        <span class="p-input-icon-left mr-2">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            [(ngModel)]="searchValue"
            (input)="filterGlobal($event)"
            placeholder="搜尋用戶姓名、手機號"
          />
        </span>
        <div class="w-full sm:w-10rem p-fluid mr-3 ml-2">
          <p-dropdown
            class="p-element p-inputwrapper ng-valid ng-touched p-inputwrapper-filled ng-dirty"
            [options]="roles"
            optionLabel="name"
            optionValue="value"
            [(ngModel)]="selectedRole"
            (onChange)="filterByRole($event)"
          ></p-dropdown>
        </div>
        <p-button
          icon="pi pi-refresh"
          [rounded]="true"
          (onClick)="clear(dt1)"
        />
      </div>
    </ng-template>
    <ng-template pTemplate="right">
      <p-button label="新建用戶" icon="pi pi-plus" [rounded]="true" />
    </ng-template>
  </p-toolbar>
  <p-table
    #dt1
    [value]="users"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="['c_Name', 'phone']"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-tableHeaderCheckbox />
        </th>
        <th>
          <div class="flex align-items-center">姓名</div>
        </th>
        <th>
          <div class="flex align-items-center">手機號</div>
        </th>
        <th>
          <div class="flex align-items-center">角色</div>
        </th>
        <th>
          <div class="flex align-items-center">狀態</div>
        </th>
        <th>
          <div class="flex align-items-center">建立時間</div>
        </th>
        <th>
          <div class="flex justify-content-end mr-2">檢視</div>
        </th>
        <th>
          <div class="flex justify-content-end mr-2">編輯</div>
        </th>
        <th>
          <div class="flex justify-content-end mr-2">停用</div>
        </th>
        <th>
          <div class="flex justify-content-end mr-4 mr-5">啟用</div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          <p-tableCheckbox [value]="user" />
        </td>
        <td>
          <div class="inline-block vertical-align-middle">
            <p-avatar
              image="{{ user.avatarFileUrl }}"
              styleClass="mr-2"
              size="large"
              shape="circle"
            />
          </div>
          <span>{{ user.c_Name }}</span>
        </td>
        <td>
          {{ user.phone }}
        </td>
        <td>
          {{ user.roleName }}
        </td>
        <td [ngClass]="getStatusClass(user.status)">
          {{ getStatusLabel(user.status) }}
        </td>
        <td>
          {{ user.createdDate | date : "yyyy-MM-dd HH:mm" }}
        </td>
        <td>
          <div class="flex justify-content-end align-items-center">
            <p-button
              icon="pi pi-eye"
              [rounded]="true" [text]="true"
            />
          </div>
        </td>
        <td>
          <div class="flex justify-content-end">
            <p-button
              icon="pi pi-pen-to-square"
              [rounded]="true" [text]="true"
            />
          </div>
        </td>
        <td>
          <div class="flex justify-content-end">
            <p-button
              icon="pi pi-times-circle"
              [rounded]="true" [text]="true"
            />
          </div>
        </td>
        <td>
          <div class="flex justify-content-end mr-4">
            <p-button        
              icon="pi pi-sync"
              [rounded]="true" [text]="true"
            >
        </p-button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No users found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
