.p-table th, .p-table td {
  display: flex;
  align-items: center; /* 垂直居中对齐内容 */
  justify-content: center; /* 水平居中对齐内容 */
  min-height: 50px; /* 设置最小高度以确保所有列的高度一致 */
  padding: 10px; /* 根据需要调整填充以确保一致性 */
}

.p-table th {
  text-align: right; /* 右对齐表头文本 */
}

.p-table th div, .p-table td div {
  display: flex;
  align-items: center; /* 垂直居中对齐内容 */
  justify-content: center; /* 水平居中对齐内容 */
}

.status-active {
  color: green;
  font-weight: bold;
}

.status-active::before {
  content: '•'; /* Unicode bullet point */
  color: green;
  margin-right: 0.5em;
  font-weight: bold;
}

.status-inactive {
  color: gray;
  font-weight: bold;
}

.status-inactive::before {
  content: '•'; /* Unicode bullet point */
  color: gray;
  margin-right: 0.5em;
  font-weight: bold;
}
